@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Space+Grotesk:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&display=swap');
@font-face {
    font-family: montserrat;
    src: url(Font\montserrat.regular.ttf);
}
:root{
    --text: #070403;
    --background: #fbf6f4;
    --primary: #e0beae;
    --secondary: #ebd5cb;
    --accent: #aa6241;
}

*{
    margin: 0;
    padding: 0;
}
::selection{
    background-color: #D5B4B4;
}
.topnav{
    background-color: #867070;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.navlogo{
    width: 40%;
    margin-left: 100px;
    padding-left: 0px;
    padding-right: 0px;
}
.linktopnav{
    text-decoration: none;
    color: white;
    padding: 10px;
}
.linktopnav h1{
    font-family: montserrat;
    font-weight: 100;
}
.list{
    list-style: none;
}
.menu{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 10px;
    margin-left: 10px;
}
.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F5EBEB;
}
.maincover0{
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
}
.maincover1{
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    line-height: 49px;
}
.maincover2{
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    line-height: 30px;
}
.img{
    
    border-radius: 50%;
}
.buttonconfig{
    margin-top: 20px;
    line-height: 9px;
}
.button1, .button2{
    font-size: small;
    font-family: montserrat;
}
.button1{
    color: white;
}
.button1{
    border: none;
    border-radius: 5px;
    padding: 10px 32px;
    text-align: center;
    background-color: #867070;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: background-color 1s;
}
.button1:hover{
    background-color: #a69595;
}
.button2{
    border: none;
    border-radius: 5px;
    text-align: center;
    background-color: #c0b9b9;
    padding: 10px 32px;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: background-color 1s;
}
.button2:hover{
    background-color: #e4dfdf;
}
span {
    content: "\2197";
    font-weight: bolder;
    font-size: larger;
}
@media(max-width: 897px) {
    .main{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: space-evenly;
        background-color: #F5EBEB;
    }
    .mainconfig{
        margin-left: 20px;
    }
}
@media (max-width: 513px) {
    .topnav{
        background-color: #867070;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

    }
    .menu{
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}
.content{
    width: 100%;
    background-color: #E4D0D0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-box{
    background-color: #867070;
    margin: 10px 20px 17px 20px;
    border-radius: 5px;
    padding-bottom: 17px;
}
.content-box h1{
    text-align: center;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    color: #F5EBEB;
}
.content-box p{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 6px 0 6px;
}
.content2{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #D5B4B4;
}
.contentconfig2{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.title-a, .title-b{
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    
}
.content-b1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
    